$navy-d: #08335c;
$navy-m: #0f63ad;
$blue-m: #1b76bb;
$blue-hover: #2f95d6;
$blue-l: #eaf5fb;

$gold-m: #cf9a00;
$gold-l: #f6df8f;

$green-m: #16a34a;
$green-l: #d8f7e2;

$coral-m: #ce456c;
$coral-l: #f5d7df;

$ink: #1d2736;
$gray-m: #657080;
$gray-l: #eef3f7;
$white: #ffffff;
$black: #000000;
